body {
    background-color: white;
}

.game_board {
    background-color: green;

    height: 80vh;
    width: 60vw;

    margin: auto;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.game_title {
    background-color: red; 
    
    height: 10%;
    width: 80%;

    display: flex;
    justify-content: center;
}

.score_row {
    height: 10%;
    width: 90%;

    display: flex;
    justify-content: center;

}

.score_row > .score_area {
    background-color: cyan;
    border: 2px solid black;

    width: 50%;

    /*margin-right: 5%;
    margin-left: 5%;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.choice_row {
    height: 50%;
    width: 90%;

    display: flex;
    justify-content: center;
}

.choice_row > .choice_area {
    background-color: blue;
    border: 2px solid black;

    width: 50%;

    /*margin-right: 5%;
    margin-left: 5%;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.choice_item {
    height: 20%;
    width: 20%;
    margin-left: 5%;

}
